config_templates/wsdl/mailService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://mail.javaops.ru/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:common="http://common.javaops.ru/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://mail.javaops.ru/"
             name="MailServiceImplService">
    <types>
        <xs:schema targetNamespace="http://mail.javaops.ru/">
            <xs:import namespace="http://common.javaops.ru/" schemaLocation="common.xsd"/>

            <xs:element name="sendToGroup" type="tns:sendToGroup"/>
            <xs:element name="sendToGroupResponse" type="tns:sendToGroupResponse"/>
            <xs:element name="sendBulk" type="tns:sendBulk"/>
            <xs:element name="sendBulkResponse" type="tns:sendBulkResponse"/>

            <xs:complexType name="sendToGroup">
                <xs:sequence>
                    <xs:element name="to" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="cc" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="subject" type="xs:string" minOccurs="0"/>
                    <xs:element name="body" type="xs:string" minOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendToGroupResponse">
                <xs:sequence>
                    <xs:element name="status" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sendBulk">
                <xs:sequence>
                    <xs:element name="to" type="tns:addressee" maxOccurs="unbounded"/>
                    <xs:element name="subject" type="xs:string" minOccurs="0"/>
                    <xs:element name="body" type="xs:string" minOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendBulkResponse">
                <xs:sequence>
                    <xs:element name="groupResult">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="failed" type="tns:mailResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="success" type="xs:int"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="mailResult">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute type="xs:string" name="email"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="addressee">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute type="xs:string" name="email"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="sendMailResponse">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="sendToGroup">
        <part name="parameters" element="tns:sendToGroup"/>
    </message>
    <message name="sendToGroupResponse">
        <part name="parameters" element="tns:sendToGroupResponse"/>
    </message>
    <message name="sendBulk">
        <part name="parameters" element="tns:sendBulk"/>
    </message>
    <message name="sendBulkResponse">
        <part name="parameters" element="tns:sendBulkResponse"/>
    </message>
    <message name="WebStateException">
        <part name="fault" element="common:webStateException"/>
    </message>

    <portType name="MailService">
        <operation name="sendToGroup">
            <input wsam:Action="http://mail.javaops.ru/MailService/sendToGroupRequest" message="tns:sendToGroup"/>
            <output wsam:Action="http://mail.javaops.ru/MailService/sendToGroupResponse"
                    message="tns:sendToGroupResponse"/>
            <fault wsam:Action="http://mail.javaops.ru/MailService/sendBulkMail/Fault/WebStateException"
                   message="tns:WebStateException" name="WebStateException" />
        </operation>
        <operation name="sendBulk">
            <input wsam:Action="http://mail.javaops.ru/MailService/sendBulkRequest"
                   message="tns:sendBulk"/>
            <output wsam:Action="http://mail.javaops.ru/MailService/sendBulkResponse"
                    message="tns:sendBulkResponse"/>
            <fault wsam:Action="http://mail.javaops.ru/MailService/sendBulkMail/Fault/WebStateException"
                   message="tns:WebStateException" name="WebStateException" />
        </operation>
    </portType>
    <binding name="MailServiceImplPortBinding" type="tns:MailService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="sendToGroup">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="WebStateException">
                <soap:fault name="WebStateException" use="literal"/>
            </fault>
        </operation>
        <operation name="sendBulk">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="WebStateException">
                <soap:fault name="WebStateException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="MailServiceImplService">
        <port name="MailServiceImplPort" binding="tns:MailServiceImplPortBinding">
            <soap:address location="http://localhost:8080/mail/mailService"/>
        </port>
    </service>
</definitions>