config_templates/wsdl/mailService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://mail.javaops.ru/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://mail.javaops.ru/"
             name="MailServiceImplService">
    <types>
        <xs:schema targetNamespace="http://mail.javaops.ru/">
            <xs:element name="sendMail" type="tns:sendMail"/>
            <xs:element name="sendMailResponse" type="tns:sendMailResponse"/>

            <xs:complexType name="sendMail">
                <xs:sequence>
                    <xs:element name="to" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="cc" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="subject" type="xs:string" minOccurs="0"/>
                    <xs:element name="body" type="xs:string" minOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="addressee">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute type="xs:string" name="email"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="sendMailResponse">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="sendMail">
        <part name="parameters" element="tns:sendMail"/>
    </message>
    <message name="sendMailResponse">
        <part name="parameters" element="tns:sendMailResponse"/>
    </message>
    <portType name="MailService">
        <operation name="sendMail">
            <input wsam:Action="http://mail.service.masterjava.javaops.ru/MailService/sendMailRequest" message="tns:sendMail"/>
            <output wsam:Action="http://mail.service.masterjava.javaops.ru/MailService/sendMailResponse" message="tns:sendMailResponse"/>
        </operation>
    </portType>
    <binding name="MailServiceImplPortBinding" type="tns:MailService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="sendMail">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MailServiceImplService">
        <port name="MailServiceImplPort" binding="tns:MailServiceImplPortBinding">
            <soap:address location="http://localhost:8080/mail/mailService"/>
        </port>
    </service>
</definitions>